@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color: #f8f0f5; color: #4d4d4d; padding: 50px; border-radius: 15px;" class="text-center">
    <h1 class="display-4" style="color: #d63384;">Welcome</h1>
    <p>
        Learn about
        <a href="https://learn.microsoft.com/aspnet/core" style="color: #6c757d; text-decoration: underline;">
            building Web apps with ASP.NET Core
        </a>.
    </p>
</div>