@{
    ViewData["Title"] = "Privacy Policy";
}

<div style="background-color: #f8f0f5; color: #4d4d4d; padding: 50px; border-radius: 15px;" class="text-center">
    <h1 style="color: #d63384;">@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
</div>